<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="slider.css">

    <style>
        .active {
            margin-left: 10px;
        }

        nav {
            border-bottom: 2px solid black;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .achiev {
            /* border: 2px solid black; */
            width: 70vw;
            height: 30vh;
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
        }

        .img {
            border: 2px solid black;
            width: 30vw;
        }

        .des {
            border: 2px solid black;
            width: 40vw;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Hostel LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/hmate">Hostel Buddy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/achievement">Achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/gallery">Gallery</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 40px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/complaint">Complaint</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <button class="btn btn-secondary" id="addA" style="margin:20px">Add Achievement</button>
    </div>
    <div id="slider">
        <ul id="slideWrap">
            <li><img src="img1.jpg" alt="1"></li>
            <li><img src="img2.jpg" alt="2"></li>
            <li><img src="img3.jpg" alt="3"></li>
            <li><img src="img4.jpg" alt="4"></li>
            <li><img src="img5.jpg" alt="5"></li>
        </ul>
        <a id="prev" href="#">&#8810;</a>
        <a id="next" href="#">&#8811;</a>
    </div>
    <!-- <img src="" alt="Hostel Image slider" style="border:2px solid black; width: 96vw; height: 50vh; margin: 20px;"> -->

    <h1 style="text-align: center; margin:20px">Achievements</h1>
    <div class="displayachievements">
        <%k.forEach(function(item){%>
            <div class="achiev">
                <div class="img">
                    <%if(item.Aimg.data!=undefined){%>
                        <img src="data:item/<%=item.Aimg.contentType%>;base64,
                        <%=item.Aimg.data.toString('base64')%>">
                        <%}%>
                </div>
                <div class="des">
                    <h4>
                        <%=item.Subject%>
                    </h4>
                    <h5>
                        <%=item.Participants%>
                    </h5>
                    <p>
                        <%=item.Des%>
                    </p>
                </div>
            </div>
            <%})%>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    document.getElementById("addA").onclick = function () {
        location.href = "/addA";
    };
</script>
<script src="slider.js"></script>


</html>